@import "./base/reset";
@import "./utils/variables";
@import "./utils/mixin.scss";
@import "./layout/_header";
@import "./components/_buttons";

main {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  max-width: 1440px;
}

%group {
  font-family: $text-font;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

.reserve {
  flex: 100%;
  text-align: center;
  padding: 30px 10px;
  background-color: $color-background;
  &__hgroup {
    margin-bottom: 35px;
    h1 {
      @extend %group;
      margin-bottom: 15px;
    }
    h2 {
      @extend %group;
      font-size: 18px;
      font-weight: normal;
      color: #888;
    }
  }
}

.aside {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px 5px;
  &__title {
    font-size: 18px;
    font-weight: $fontWeight;
    font-family: $text-font;
    margin-bottom: 15px;
  }
  &__step {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  &__button {
    flex: 1 0 auto;
    margin-bottom: 20px;
    text-decoration: none;
    background: $color-background-2;
    border-radius: 30px;
    text-align: center;
    margin-left: 0;
    font-size: 12px;
    font-family: $text-font;
    color: $color-black;
    font-weight: $fontWeight;
    padding: 20px 15px;
    @include shadowbox;
  }
  &__circle {
    position: absolute;
    left: 15px;
    margin-top: -5px;
    background-color: $color-primary;
    border-radius: 100%;
    color: #fff;
    height: 25px;
    width: 25px;
    padding: 4px 8px;
    font-weight: $fontWeight;
    line-height: 1.3;
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: grey;
    margin-right: 15px;
    position: absolute;
    font-size: 14px;
    margin-left: 17px;
    margin-right: 20px;
    &:hover {
      color: $color-primary;
    }
  }
}

.store {
  background-color: $color-background-2;
  padding: 10px;
  margin-top: 15px;
  &__title {
    font-size: 22px;
    font-family: $text-font;
    font-weight: $fontWeight;
    margin-bottom: 18px;
    color: $color-black;
  }
}
