@import "../layout/_keyframes";

.menu__text {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 20px;
  @include shadowbox;
  margin-top: 25px;

  @include desktop-only {
    flex: 25%;
    margin-left: 15px;
  }

  &:hover {
    @include shadowOne;
  }
  .prod {
    font-size: 15px;
    font-weight: $fontWeight;
    margin-left: 12px;
    overflow: hidden;
  }
  h4 {
    color: #333;
    margin-left: 12px;
    font-size: 11px;
    font-weight: normal;
  }
  .price__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .price {
    font-size: 1.125em;
    font-weight: bold;
    margin-top: 18px;
    padding-right: 10px;
    text-align: right;
  }

  .checkbox {
    position: relative;
    display: none;
    width: 20%;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  .btn-circle {
    font-size: 24px;
    color: #fff;
  }
}

.menu__text:hover .checkbox {
  display: block;
  flex: 0 0 15%;
  background: $color-tertiary;
  max-width: 50px;
  overflow: hidden;
  animation: checkbox ease 0.3s 1 forwards;
  transform-origin: 50% 50%;
}

.menu__text .btn-circle {
  position: absolute;
  left: 27%;
  top: 30%;
  background: $color-tertiary;
  transform: rotate(360deg);
  animation: validebtn ease 0.3s;
  animation-iteration-count: 1;
}

@for $i from 1 through 15 {
  .fade-#{$i} {
    animation: fadeIn 0.4s * $i;
  }
}

.spinloader {
  animation: spinloader 5s;
  animation-delay: 1s;
  animation-fill-mode: both;
  background: $animation-bg-color;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 999;
  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

%animatedbefore {
  display: inline-block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  top: 15px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: $color-secondary;
}

%animatedafter {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: $color-secondary;
}

.loader {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border: 4px solid transparent;
  border-top-color: $color-secondary;
  animation: loader 2s infinite;

  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  &::before {
    content: "";
    @extend %animatedbefore;
    animation: loader 2s infinite;
  }

  &::after {
    content: "";
    @extend %animatedafter;
    animation: loader 2s infinite;
  }
  &__cover {
    position: relative;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
  &__bar {
    animation: loader 2s infinite;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    width: 50%;
    height: 50%;
    transform-origin: 100% 100%;
  }
}
