.aside {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 10px 5px;
  &__title {
    font-size: 18px;
    font-weight: $fontWeight;
    font-family: $text-font;
    margin-bottom: 15px;
  }
  &__step {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    @include tablette-only {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
    }
  }
  &__button {
    flex: 1 0 auto;
    margin-bottom: 20px;
    text-decoration: none;
    background: $color-background-2;
    border-radius: 30px;
    text-align: justify;
    margin-left: 0;
    font-size: 12px;
    font-family: $text-font;
    color: $color-black;
    font-weight: $fontWeight;
    padding: 20px 15px;
    @include shadowbox;
    @include tablette-only {
      flex: 100%;
      margin-left: 20px;
      padding: 10px 5px;
    }
  }
  &__circle {
    position: absolute;
    left: 15px;
    margin-top: -5px;
    background-color: $color-primary;
    border-radius: 100%;
    color: #fff;
    height: 20px;
    width: 20px;
    padding: 4px 8px;
    font-weight: $fontWeight;
    @include tablette-only {
      display: block;
      position: relative;
      left: -12px;
      top: 10px;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: grey;
    margin-right: 15px;
    position: absolute;
    font-size: 14px;
    margin-left: 17px;
    margin-right: 20px;
    @include tablette-only {
      margin-left: 17px;
      margin-top: -7px;
    }
    &:hover {
      color: $color-primary;
    }
  }
  &__texte {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include tablette-only {
      display: block;
      text-align: center;
      margin-top: -5px;
    }
  }
}
