footer a {
  text-decoration: none;
  color: #fff;
}

.footer {
  background: #333;
  padding: 20px;
  text-align: center;
  color: #fff;

  &__logo {
    filter: invert(1);
    max-width: 150px;
    @include tablette-only {
      max-width: none;
    }
  }
  &__link {
    text-align: left;
    @include tablette-only {
      text-align: center;
    }
  }
}

.footer-icons {
  margin-right: 15px;
}
