/*MEDIA QUERIES*/
/*=


/************DESKTOP : 1024px *************************/
/*
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }

  .header__logo {
    text-align: left;
    box-shadow: none;
  }

  .search__location {
    background: linear-gradient(#ff79da, #9356dc);
    padding: 3px -5px;
    width: 50%;
    border-radius: 25px;
    margin-right: 25px;
  }

  .search__location input {
    color: #fff;
  }
  .search__location .search__icons {
    color: #fff;
  }

  input::placeholder {
    color: #fff;
  }
  .store__img__header img {
    max-width: 275px !important;
    height: 200px;
  }
}

/************TABLETTE : 768px *************************/
/*
@media screen and (min-width: 765px) {
  .aside__step {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  .aside__button {
    flex: 100%;
    margin-left: 20px;
    padding: 10px 5px;
  }

  .aside__circle {
    display: block;
    position: relative;
    left: -12px;
    top: 10px;
  }

  .aside__texte {
    display: block;
    text-align: center;
    margin-top: -5px;
  }

  .aside__icons {
    margin-left: 17px;
    margin-top: -7px;
  }
  .store {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 15px;
    height: 100%;
  }
  .store__title {
    padding: 15px 0 15px 15px;
    width: 100%;
  }
  .store__img__header img {
    max-width: 325px;
    height: 200px;
  }

  .footer__logo {
    max-width: none;
  }
  .footer__link {
    text-align: center;
  }
}
