.reserve__btn-1 {
  display: inline-block;
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 25px;
  color: #fff;
  box-shadow: 0 5px 15px 0 #c3c3c3;
  font-weight: bold;
  margin: 0 0.3em 0.3em 0;
  padding: 15px 30px;
  transition: 0.2s;
}
