.reserve__btn-1 {
  display: inline-block;
  @include lineargarden;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 25px;
  font-size: 15px;
  color: #fff;
  @include shadowbox;
  font-weight: bold;
  margin: 0 0.3em 0.3em 0;
  padding: 15px 30px;
  transition: 0.2s;
  &:hover {
    background: linear-gradient(#f77dd4, #ab65fa);
    @include shadowbox;
  }
}

%likeanimated {
  transition: 0.5s 0s ease;
}
.like {
  position: relative;
  margin-right: 22px;
  margin-top: 4px;

  i {
    color: #9d9d9d;
    font-size: 24px;
    left: 50%;
  }
  .hover-icon {
    left: 0;
    opacity: 0;
    position: absolute;
    &:hover {
      @include lineargarden;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;

      opacity: 1;
      z-index: 999;
      @extend %likeanimated;
    }
  }
  &:hover {
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    @extend %likeanimated;
  }
  .default-icon:hover {
    opacity: 0;
    @extend %likeanimated;
  }
}

/***************Commander Button***************/

.btn-2 {
  margin-top: 25px;
  width: 60%;

  @include tablette-only {
    width: 20%;
  }
}
