main {
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

%group {
  font-family: $text-font;
  font-size: $fontSize;
  font-weight: $fontWeight;
}

.reserve {
  flex: 100%;
  text-align: center;
  padding: 30px 10px;
  background-color: $color-background;

  &__hgroup {
    margin-bottom: 35px;
    h1 {
      @extend %group;
      margin-bottom: 15px;
    }
    h2 {
      @extend %group;
      font-size: 15px;
      font-weight: normal;
      color: #888;
    }
  }
}

article a {
  text-decoration: none;
}

.store {
  background-color: $bggrey;
  padding: 10px;
  margin-top: 15px;
  @include tablette-only {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 15px;
    height: 100%;
  }
  &__card {
    display: flex;
    flex-direction: column;
    margin: 15px;
    min-width: 0;
    background: #fff;
    box-shadow: 2px 2px 10px 2px $color-background-2;
    border-radius: 15px;
  }
  &__title {
    font-size: 22px;
    font-family: $text-font;
    font-weight: $fontWeight;
    margin-bottom: 18px;
    color: $color-black;
    @include tablette-only {
      padding: 15px 0 15px 15px;
      width: 100%;
    }
  }
  &__img__header {
    position: relative;
    max-height: 200px;
    img {
      object-fit: cover;
      width: 100%;
      max-height: 200px;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
      @include desktop-only {
        max-width: 275px !important;
        height: 200px;
      }
      @include tablette-only {
        max-width: 325px;
        height: 200px;
      }
    }
  }
}

.img-btn-left {
  position: absolute;
  top: 10px;
  right: 10px;
  background: $color-tertiary;
  color: $color-dark-green;
  padding: 3px 10px;
  font-weight: $fontWeight;
  z-index: 999;
}

.store__contain {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  width: 100%;
  margin-top: 10px;

  h4 {
    font-weight: 300;
    font-size: 1.1rem;
    margin-left: 0;
  }
}

.strong {
  text-decoration: none;
  color: $color-black;
  font-weight: $fontWeight;
  font-size: 1.1rem;
  font-family: $text-font;
}
