@import "../components/_buttons";
@import "../layout/_animations";

body {
  background-color: #fff;
  color: #333;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
  text-align: left;
  overflow-x: hidden;
}

h1 {
  font-size: 1.5em;
  line-height: 1;
  font-weight: bold;
}
/*****Header****/
.menu__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    background: rgb(255, 255, 255);
    width: 160%;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid #f4f4f4;
    padding: 5px 46px;
    @include desktop-only {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

header .header__back__icon {
  display: block;
  margin-right: 275px;
  position: absolute;
  left: 25px;
  color: #000;
}

header .cover__img {
  height: 270px;
  width: 100%;
  z-index: -1;
}

header .cover__img img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/*Menu restaurants*/
.bg-grey {
  background: #f6f6f6;
}

.menu main {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -50px;
  z-index: 999;
}
.menu .menu__summary {
  position: relative;
  width: 100%;
}

.menu__title {
  font-family: $logo-title-font;
  font-weight: normal;
  padding: 20px 0 20px 20px;
}

.like-menu {
  position: absolute;
  right: 30px;
  top: 20px;
}

.menu__plats {
  padding: 20px;
}

.menu__details {
  @include desktop-only {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.sub__title {
  margin: 25px 0;
  font-size: 18px;
  text-transform: uppercase;
  @include desktop-only {
    padding: 15px 0 15px 15px;
    width: 100%;
  }

  &:after {
    content: "";
    border-bottom: 2px solid $color-tertiary;
    display: block;
    padding-top: 3px;
    width: 40px;
  }
}

%text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.prod {
  font-size: 20px;
  font-weight: $fontWeight;
  @extend %text-overflow;
}
h4 {
  color: #333;
  font-size: 15px;
  font-weight: normal;
  @extend %text-overflow;
}

.menu__title__price {
  width: 80%;
  padding: 10px;
  @extend %text-overflow;
}

.command-btn {
  text-align: center;
}
