/*Coleurs de base du site*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/*Charte d'écriture*/
$logo-title-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif; ;
