/*Coleurs de base du site*/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-dark-green: #2c9c81;
$color-background: #f2f2f2;
$bggrey: #f4f4f4;
$color-black: #000;
$color-background-2: #e9e9e9;
$menu-bg-color: #f6f6f6;
$animation-bg-color: rgba(10, 10, 10, 0.6);

/*Charte d'écriture*/

$logo-title-font: "Shrikhand", cursive;
$text-font: "Roboto", sans-serif;

/*Font type*/

$fontSize: 25px;

$fontWeight: bold;
