/*Box Shadow */
@mixin shadowbox {
  box-shadow: 0 5px 15px 0 #c3c3c3;
}

@mixin shadowOne {
  box-shadow: 0 5px 15px 0 #9d9d9d;
}
/*Background-Color*/
@mixin lineargarden {
  background: linear-gradient(#ff79da, #9356dc);
}

/*Color linear */

/*Media queries*/

@mixin desktop-only {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}
@mixin tablette-only {
  @media only screen and (min-width: 765px) {
    @content;
  }
}

@mixin phone {
  @media only screen and (max-width: 420px) {
    @content;
  }
}

/*Animation proprety*/

@mixin likeanimated {
}

/*Text overflow white-space proprety*/
